<!DOCTYPE html>
<html>
  <head>
    <title>RealBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logo_white = "<%= image_url('logo_white.png')%>"
      window.logo_red = "<%= image_url('logo_red.png')%>"
      window.splash_bg = "<%= image_url('splash_bg.jpg')%>"
      window.close_icon = "<%= image_url('close_icon.png')%>"
      window.user_logo = "<%= image_url('user.png')%>"
      window.error = "<%= image_url('error.png')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
