<!DOCTYPE html>
<html>
  <head>
    <title>RealBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCwmcETvz_rly4u5jB3FJx4WPkcj1EMvGM" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCwmcETvz_rly4u5jB3FJx4WPkcj1EMvGM&libraries=places" %>
    <script type="text/javascript" src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerwithlabel/src/markerwithlabel.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">

    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logo_white = "<%= image_url('logo_white.png')%>"
      window.logo_red = "<%= image_url('logo_red.png')%>"
      window.splash_bg = "<%= image_url('splash_bg.jpg')%>"
      window.splash_narrow = "<%= image_url('splash_narrow.jpg')%>"
      window.splash_vertical = "<%= image_url('splash_vertical.jpg')%>"
      window.close_icon = "<%= image_url('close_icon.png')%>"
      window.user_logo = "<%= image_url('user.png')%>"
      window.error = "<%= image_url('error.png')%>"
      window.breakfast = "<%= image_url('amenities-breakfast.png')%>"
      window.kitchen = "<%= image_url('amenities-kitchen.png')%>"
      window.tv = "<%= image_url('amenities-tv.png')%>"
      window.washer = "<%= image_url('amenities-washer.png')%>"
      window.wifi = "<%= image_url('amenities-wifi.png')%>"
      window.search_logo = "<%= image_url('search-logo.png')%>"
      window.price_bubble = "<%= image_url('price_bubble.png')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
